
header {
    font-family: 'Lobster', cursive;
    background: rgb(226,247,236);
	background: radial-gradient(circle, rgba(226,247,236,1) 0%, rgba(217,234,246,1) 35%, rgba(241,220,79,1) 100%); 
	margin-top:-30px;
	height:100px;
}

body {
	font-size:15px;
	margin:0;
	padding:0;
}
video {

}
div .leftexp img {
  	width: 45%;
  	border-radius: 30%;  /* on arrondit l'image */
}

div .leftexp img:hover {


}
footer i {
	-webkit-transition:-webkit-transform .3s; // Chrome Safari
  	-moz-transition:-moz-transform .3s;       // Mozilla
  	-o-transition:-o-transform .3s;           // Opéra
  	-ms-transition:-ms-transform .3s;         // IE
  	transition:transform .3s;
}
footer i:hover {
	-webkit-transform:rotate(3600deg); 
  	-moz-transform:rotate(3600deg);
  	-o-transform:rotate(3600deg); 
  	-ms-transform:rotate(3600deg); 
  	transform:rotate(3600deg);
	opacity: 0.5;	
}
.photop img {
	top:-20px;
	border-radius:20px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.photop img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)	
}

.pdf{
	margin-top:200px;
}
.h2s{
	margin-top:150px;
}
.corpscan img {
	width:800px;
	border-radius:20px;
	box-shadow: 10px 5px 5px black;

}
.corpscan img:hover {
	opacity:0.5;
}
.sitealbum img {
	width:800px;
	border-radius:20px;
	box-shadow: 10px 5px 5px black;
}
.sitealbum img:hover {
	opacity:0.5;
}
.recommandation .left img {
	width:40%;
	-webkit-transition:-webkit-transform .3s; // Chrome Safari
  	-moz-transition:-moz-transform .3s;       // Mozilla
  	-o-transition:-o-transform .3s;           // Opéra
  	-ms-transition:-ms-transform .3s;         // IE
  	transition:transform .3s;
}
.recommandation .left img:hover {
	-webkit-transform:rotate(3600deg); 
  	-moz-transform:rotate(3600deg);
  	-o-transform:rotate(3600deg); 
  	-ms-transform:rotate(3600deg); 
  	transform:rotate(3600deg);
	opacity: 0.5;
}
body h1, h2 {
    font-family: 'Lobster', cursive;
}
body p, h3 {
   font-family: 'Arapey', serif;
   font-size:18px;
}
h1 {
	font-size:40px;
	font-weight:normal;
	text-align:center;
	padding-top: 15px;
}
header h2 {
	text-align: center;
	position:absolute;
	top:30px;
	right:40%;
}
footer {
	height:100px;
	padding-top:30px;
	text-align: center;
	background-color: #D9EAF6;
	border-top: 2px solid #AAA;
}
nav {
	width:100%;
	background-color: #D9EAF6;
    font-family: 'Arapey', serif;
    border-top: 2px solid black;

}
nav ul {
	margin: 0px;
	padding: 0px;
}
nav li {
	list-style-type:none;
	float: left; 
}
nav a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: black;
	text-transform: uppercase;
	font-size:20px;
}
img {
	width:200px;
}
.table {
	display:table;
	margin:0 auto;
}
.menu-ind:hover, .presentation {
	border-top: 5px solid #4C8;
	background-color:rgba(64, 200, 130,0.15);
	transition-duration: 0.3s
}
.menu-exp:hover, .parcours{
	border-top: 5px solid #f1dc4f;
	background-color:rgba(241, 211, 79,0.15);
	transition-duration: 0.3s	
}
.menu-hob:hover, .competences{
	border-top: 5px solid #0070BB;
	background-color:rgba(000, 112, 192,0.15);
	transition-duration: 0.3s
}
.menu-con:hover, .recommandation{
	border-top: 5px solid #e44d26;
	background-color:rgba(228, 77, 38,0.15);
	transition-duration: 0.3s	
}

nav li:hover a {
	padding:15px 30px 20px 30px;
}
section{
	width:100%;
	min-height:300px;
	padding-bottom:10px;
}
.sec {
	margin:0px 10%;
}
.left{
	float:left;
	width:30%;
}
.right{
	float:left;
	width:70%;
}
.cleft, .cright, .sousleft, .sousright{
	width:50%;
	float:left;	
}
.sousleft, .sousright {
	height:40px;
}
.sec::after, .exp::after, .reco::after {
	content:"";
	display:table;
	clear: both;
}
.orange {
	border-top: 5px solid #e47d26;
	background-color:rgba(228, 117, 38,0.15);
	margin-bottom: 0PX;
}
.rose {
	border-top: 5px solid #e44d96;
	background-color:rgba(228, 77, 128,0.15);
	margin-bottom: 0PX;	
}
.vert {
	border-top: 5px solid #5F6;
	background-color: rgba(70,240,80,0.15);
}
.bleu {
	border-top: 5px solid #29C;
	background-color: rgba(30,152,212,0.15);
}
.jaune {
	border-top: 5px solid #f3e241;
	background-color: rgba(240,255,69,0.15);
}
.rouge {
	border-top: 5px solid#e44d26;
	background-color:rgba(228, 77,38,0.15);
}
.contact {
	border-top: 5px solid #f6b93b;
	background-color:rgba(246, 185, 59,0.15)

}
.leftexp {
	width: 45%;
	float:left;
}
.rightexp{
	width:50%;
	float:left;
	margin-left: 5%;
}
.leftexp img {
	width:100%;
	max-width: 400px;
}
@media screen and (max-width: 780px){
	header h1, h2 {		
	font-size :15px;
	}
	header h2 {
	top:10px;
	}
	body {
		font-size: 15px;
	}
	img {
		width:80px;
		top:10px;
	}
	header{
		height:50px;
	}
	h1{
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}
	nav li a {
		font-size:12px;
		padding:10px;
	}
	nav li:hover a {
		padding:5px 10px 10px 10px;

	}
	progress {
		margin-top: 30px;
	}
	.cleft, .cright, .sousleft, .sousright {
		font-size:9px;
		width:50%;
		text-align: center;
		margin-top: 5%;
	}
	.corpscan img {
	width:250px;
	border-radius:20px;
	box-shadow: 10px 5px 5px black;

	}
	.corpscan img:hover {
		opacity:0.5;
	}
	.sitealbum img {
		width:250px;
		border-radius:20px;
		box-shadow: 10px 5px 5px black;
	}
	.sitealbum img:hover {
		opacity:0.5;
	}
	video {
		width:250px;
	}

}